# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Elixir & Phoenix
/_build
/deps
/*.ez
/cover
/doc
/.fetch
/erl_crash.dump
*.beam
/config/*.secret.exs
.elixir_ls/
/priv/static/
/priv/cert/*.pem

# Phoenix LiveView
/assets/node_modules/

# Wallaby screenshots
/tmp/wallaby_screenshots/

# Database
*.db
*.db-shm
*.db-wal

# Mix
.mix_tasks

# Test coverage
/cover/
/coverage/

# Dialyzer
/priv/plts/
